<div class="my-container">
  <div class="space">
  </div>
  <mat-card class="example-card">
    <div class="logo">
      <i class="material-icons">all_inclusive</i>
    </div>
    <div class="title">
      <a class="text">Water Management Server Panal</a>
    </div>
    <br>
    <br>
    <div class="button-login">
      <button mat-raised-button color="primary" routerLink="/home">
        Home Data
      </button>
    </div>
    <br>
    <br>
    <div class="button-login">
      <button mat-raised-button color="primary" routerLink="/industry">
        Industry Data
      </button>
    </div>
    <br>
    <br>
    <br>
  </mat-card>
  <div class="space">
  </div>
</div>